@page "/users"

@model WeddingPlanner.RazorPages.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Users";
}
@if(Model.isLoggedin == true){
    <h1>All Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                    <td>
                        <a asp-page="/Users/View" asp-route-id="@user.Id" class="btn btn-info">View</a>
                        <a asp-page="/Users/Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                       
                           
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (@Model.isAdmin == true)
    {
        <a asp-page="/flowers/create" class="btn btn-primary">Add New user</a>
    }
}