@page "/Food"
@model WeddingPlanner.RazorPages.Pages.Food.IndexFoodModel
@{
    ViewData["Title"] = "Food"; 
}
@if (Model.isloggedin == true)
{
    <h1>All Food</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Vegan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in Model.Foods)
            {
                <tr>
                    <td>@food.Name</td>
                    <td>@food.Type</td>
                    <td>@food.Vegetarian</td>
                    <td>@food.Vegan</td>
                    <td>
                        <a asp-page="/food/view" asp-route-id="@food.Id" class="btn btn-info">View</a>
                        @if (@Model.isAdmin == true)
                        {
                            <a asp-page="/food/update" asp-route-id="@food.Id" class="btn btn-warning">Edit</a>
                            <a asp-page="/food/delete" asp-route-id="@food.Id" class="btn btn-danger">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (@Model.isAdmin == true)
    {
        <a asp-page="/food/create" class="btn btn-primary">Add New food</a>
    }
}