@page "/location/view/{id:int}"
@model WeddingPlanner.RazorPages.Pages.Location.ViewLocationModel
@{
    ViewData["Title"] = "Location Details";
}

@if (Model.Location.ImageData !=null && Model.Location.ImageData.Length > 0)
{
    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Location.ImageData)" alt="Flower Image" class="img-fluid" />
}
<h1>@Model.Location.Name</h1>

<p>Type: @Model.Location.Type</p>
<p>Color: @Model.Location.PostalCode</p>
<p>Color: @Model.Location.City</p>
<p>Color: @Model.Location.StreetName</p>
<p>Color: @Model.Location.Country</p>

<a asp-page="Index" class="btn btn-secondary">Back to List</a>

